.footer {
  background-color: rgb(245, 245, 245);
  margin-top: 50px;
  padding: 50px;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(196, 194, 194);
}

.subscribeTitle {
  margin-left: 35px;
  h2 {
    font-size: 20px;
  }
}

.subscribeInput {
  margin-right: 80px;
  input {
    width: 600px;
    margin-right: 15px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(196, 194, 194);

    &:hover {
      border: 1px solid #0d6efd;
    }
  }
  button {
    background-color: white;
    color: #0d6efd;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(196, 194, 194);

    &:hover {
      border: 1px solid #0d6efd;
    }
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(196, 194, 194);
}

.contactsLeft {
  margin-top: 40px;
  margin-left: 30px;
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 30px;
  }

  button {
    background-color: white;
    color: #0d6efd;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(196, 194, 194);

    &:hover {
      border: 1px solid #0d6efd;
    }
  }

  img {
    cursor: pointer;
    width: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
}

.cityInfo {
  display: flex;

  p {
    margin-right: 20px;
  }
}

.contactsRight {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    div {
        margin-right: 80px;

        p {
            cursor: pointer;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 15px;

            &:hover {
                color: #0d6efd;
            }
        }
    }
}

.footerLast {
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
}
