.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.logo {
  cursor: pointer;
}

.cityInfo {
  display: flex;

}

.rigthInfo {
  display: flex;
  gap: 20px;

  li {
    cursor: pointer;

    &:hover {
      color: #0d6efd;
    }
  }
}
