.root {
    margin-top: 60px;
    text-align: center;
    li {
      display: inline-block;
  
      &.selected {
        background-color: #0d6efd;
        color: white;
      }
  
      a {
        display: inline-block;
        text-align: center;
        width: 45px;
        height: 45px;
        line-height: 42px;
        margin-right: 10px;
        border: 1px solid #0d6efd;
        border-radius: 30px;
        cursor: pointer;
        color: #0d6efd;
  
        &:hover {
          background-color: #0d6efd;
          color: white;
        }
      }
    }
  
    :global {
      .selected {
        a {
          background-color: #0d6efd;
          color: white;
        }
      }
    }
  }